body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #E8F3D6;
  margin: 0;
  padding: 0;
  color: black;
}

h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wraper {
  margin: 0 auto;
  padding: 0 3%;

}

.meme_holder {}

.wraper:hover .meme_title {
  background-image: url(assets/plus-solid.svg);
  color: #5646eb;
}

.wraper:hover .meme_input:checked~.meme_title {
  background-image: url(assets/xmark-solid.svg);
  color: black;
}

.meme_item {
  /* border-bottom: 1px solid #747373; */
}

.meme_holder:last-child .meme_item {
  border-bottom: none;
}

.meme_input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.meme_input:checked~.meme_title {
  background-color: #FCF9BE;
}

.meme_input:checked~.meme_content {
  height: auto;
}

.meme_holder:hover .meme_title {
  background-color: #FCF9BE;
}

.meme_holder:hover .meme_content {
  height: auto;
}

.meme_title {
  display: block;
  padding: 2% 7% 2% 3%;
  cursor: pointer;
  transition: background .2s ease-out;
  background-position: right 2% center;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-color: #fcfadb;
  border-radius: 10px;
  margin: 1% 0;
}

.meme_title:hover {
  background-color: #FCF9BE;
}

.meme_content {
  display: block;
  height: 0;
  cursor: pointer;
  transition: all .5s ease-out;
  overflow: hidden;
}

.meme {
  width: 100%;
}

/* Tablet */
@media screen and (min-width: 820px) {
  .wraper {
    padding: 0 5%;
    font-size: 18px;
  }
}


/* Desktop */
@media screen and (min-width: 1180px) {

  .wraper {
    width: 60%;
    margin: 0 auto;
    padding: 0 5%;
    min-width: 1000px;
    font-size: 20px;
  }
}